extends layout

block layout-content
  div.container-md
    h1.page-title.text-center.py-4 ABOUT 
    img(src="/images/donuts.jfif")
    <!-- photo by Tu Trinh from https://unsplash.com/photos/peFEjuzDfQA -->
    div.row.align-items-center.pt-5
      div.col-md-6
        h2.text-center Mission 
        p.fs-5 Our mission at Humphrey's Doughnuts is to make the freshest, most delicious doughnuts you have ever tasted.  We don't make our doughnuts the easy way.  From our 18 hour brioche dough to our scratch-made glazes, our goal has always been to create the best flavor by letting the quality ingredients shine.  We produce our doughnuts throughout the day, ensuring that you will always receive the freshest doughnuts possible.  
      div.col-md-6
        img(src="/images/donut-bakery.jfif") 
        <!-- photo by Shayna Douglas from https://unsplash.com/photos/UiRPQ3-2Yj4 -->  
    div.row.align-items-center.pt-4
      div.col-md-6.mb-sm-4.mb-md-0
        img(src="/images/owner.jpeg") 
        <!-- photo by Kampus Production from https://www.pexels.com/photo/happy-woman-with-donut-taking-selfie-near-food-station-5920767/ -->
      div.col-md-6
        h2.text-center Our Story
        p.fs-5 Owner Erin Aarons is an ex-accountant with a serious passion for doughnuts. After three seasons selling doughnuts at the Trinity Bellwoods Farmers Markets in Toronto, she opened her brick-and-mortar Humphrey's Doughnuts in 2017. She is now a full-time small business owner. Erin lives in Toronto with her husband Tom and son Stephen. 
    