extends layout

block layout-content
  div.container-md
    div.row.pt-5
      div.col-md-6
        img(src="/images/chocolate-glazed-donut-with-dried-cranberries.jfif") 
        <!-- photo by Tacyra Autrey from https://unsplash.com/photos/ny_FqNYqnP4 -->
      div.col-md-6.mt-sm-4
        h1.page-title Come on in for Donuts + Coffee and a good time. 
    div.row.align-items-end.pt-5
      div.col-md-6
        h2.pb-sm-4 Bring your friends with you and try out different flavours.
      div.col-md-6
        img(src="/images/coffees-donuts.jfif") 
        <!-- photo by Anthony Anthony from https://unsplash.com/photos/auPBqoRuy_I -->
     
    