extends layout

block layout-content
  div.container-md.mb-5
    h1.page-title.display-3.pt-5.pb-4 Menu
    h2.display-5.pt-5 Donuts 
    div.row.pt-4
      div.col-lg-6.pe-lg-5.d-flex.flex-column.align-self-center.menu
        div
          span Strawberry Shortcake
          span $4.35
        div 
          span Lemon Lavender
          span $4.35
        div 
          span Double Chocolate Caramel
          span $4.49
        div 
          span Cookies n' Cream
          span $3.99
        div 
          span Red Velvet
          span $5.99
        div 
          span Oreo Cheesecake
          span $4.69
        div 
          span Boston Cream
          span $4.99
        div 
          span Chocolate Peanut Butter
          span $4.99
      div.col-lg-6.mt-4.mt-lg-0
        img.img(src="/images/donuts-display.jfif") 
        <!-- photo by Shayna Douglas from https://unsplash.com/photos/l4ir-0Q8Y4c -->
    h2.display-5.pt-5.mt-5.mt-lg-0 Bagels 
    div.row.pt-4.pt-lg-5    
      div.col-lg-6.order-2.order-lg-1.mt-4.mt-lg-0
        img.img(src="/images/cream-cheese-with-smoked-salmon-bagel-sandwich.jpeg") 
        <!-- photo by Lucie Liz from https://www.pexels.com/photo/cream-cheese-with-smoked-salmon-bagel-sandwich-3957501/ -->
      div.col-lg-6.ps-lg-5.order-1.order-lg-2.d-flex.flex-column.align-self-center.menu
        div 
          span Smoked Salmon with Cream Cheese
          span $8.99
        div 
          span Open-face Swiss Bagel  
          span $4.49
        div 
          span Bacon Breakfast
          span $6.49
        div 
          span Sausage Breakfast
          span $6.49
        div 
          span BELT (Bacon, Egg, Lettuce, Tomato)
          span $6.49
        div 
          span BLT (Bacon, Lettuce, Tomato)
          span $5.75
        div 
          span Nutella Bagel
          span $3.99
        div 
          span Bagel with Peanut Butter or Jam
          span $2.99 
    h2.display-5.pt-5.mt-5.mt-lg-0 Coffee
    div.row.pt-4
      div.col-lg-6.pe-lg-5.d-flex.flex-column.align-self-center.menu
        div 
          span Expresso Macchiato
          span $3.95
        div 
          span Americano
          span $3.75
        div 
          span Vanilla Latte
          span $5.25
        div
          span Rose Latte 
          span $5.75
        div 
          span Cold Brew
          span $4.25
        div 
          span Guinness Affogato
          span $5.55
        div 
          span Cortado
          span $3.95
        div 
          span Iced Flat White
          span $4.55
      div.col-lg-6.mt-4.mt-lg-0
        img.img(src="/images/latte.jfif") 
        <!-- photo by Demi DeHerrera from https://unsplash.com/photos/L-sm1B4L1Ns -->