extends layout

block layout-content
  div.container-md
    h1.page-title.pt-5 MENU
    h2.pt-5 DONUTS 
    div.row.pt-4
        div.col-md-6
          img(src="/images/strawberry-donut.jpg") 
          <!-- photo by dinar_aulia from https://pixabay.com/photos/donut-food-dessert-snack-pastry-5620012/ -->
        div.col-md-6.mt-4
          div.fs-4.border-bottom.border-dark.border-2 Strawberry Shortcake
          div.fs-4.border-bottom.border-dark.border-2 Lemon Lavender
          div.fs-4.border-bottom.border-dark.border-2 Double Chocolate Caramel
          div.fs-4.border-bottom.border-dark.border-2 Cookies n' Cream
          div.fs-4.border-bottom.border-dark.border-2 Red Velvet
          div.fs-4.border-bottom.border-dark.border-2 Oreo Cheesecake
          div.fs-4.border-bottom.border-dark.border-2 Boston Cream
          div.fs-4.border-bottom.border-dark.border-2 Chocolate Peanut Butter
    h2.pt-5 BAGELS 
    div.row.pt-4 
      div.col-md-6.pb-4.pt-md-4
        div.fs-4.border-bottom.border-dark.border-2 Smoked Salmon Bagel with Cream Cheese
        div.fs-4.border-bottom.border-dark.border-2 Bagel with Cheddar or Swiss  
        div.fs-4.border-bottom.border-dark.border-2 Bacon Breakfast
        div.fs-4.border-bottom.border-dark.border-2 Sausage Breakfast
        div.fs-4.border-bottom.border-dark.border-2 BELT (Bacon, Egg, Lettuce, Tomato)
        div.fs-4.border-bottom.border-dark.border-2 BLT (Bacon, Lettuce, Tomato)
        div.fs-4.border-bottom.border-dark.border-2 Nutella Bagel
        div.fs-4.border-bottom.border-dark.border-2 Bagel with Peanut Butter or Jam       
      div.col-md-6
        img(src="/images/cream-cheese-with-smoked-salmon-bagel-sandwich.jpeg") 
        <!-- photo by Lucie Liz from https://www.pexels.com/photo/cream-cheese-with-smoked-salmon-bagel-sandwich-3957501/ -->
    h2.pt-5 COFFEE
    div.row.pt-4 
      div.col-md-6
        img(src="/images/latte.jfif") 
        <!-- photo by Demi DeHerrera from https://unsplash.com/photos/L-sm1B4L1Ns -->
      div.col-md-6.mt-4
        div.fs-4.border-bottom.border-dark.border-2 Caramel Blended Ice
        div.fs-4.border-bottom.border-dark.border-2 Expresso Macchiato
        div.fs-4.border-bottom.border-dark.border-2 Americano
        div.fs-4.border-bottom.border-dark.border-2 Vanilla Latte
        div.fs-4.border-bottom.border-dark.border-2 Cold Brew
        div.fs-4.border-bottom.border-dark.border-2 Guinness Affogato
        div.fs-4.border-bottom.border-dark.border-2 Shakerato
        div.fs-4.border-bottom.border-dark.border-2 Iced Flat White