extends order-layout

block layout-content
  div.container-md.mb-5
    h2.display-6.pt-5 Donuts 
    div.row.pt-4
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Strawberry Shortcake
          div.card-light-text Rolled in cinnamon sugar, cut in half, and filled with fresh strawberries and whipped cream.
          div.h6.pt-4 $4.35
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Lemon Lavender
          div.card-light-text Made with a lavender infused sugar and lemon zest.
          div.h6.pt-4 $4.35
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Double Chocolate Caramel
          div.card-light-text Rolled in sugar, then filled with a silky salted caramel and chocolate ganache.
          div.h6.pt-4 $4.49
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Cookies n' Cream
          div.card-light-text Chocolate fudge doughnut with thick sweet icing, and a sprinkling of crushed Oreos.
          div.h6.pt-4 $3.99
    h2.display-6.pt-5 Bagels 
    div.row.pt-4
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Smoked Salmon with Cream Cheese
          div.card-light-text Cream cheese and smoked salmon bagel with fresh flavors of lemon and dill.
          div.h6.pt-4 $8.99
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Open-face Swiss Bagel
          div.card-light-text Topped with swiss cheese, avocado, and bacon.
          div.h6.pt-4 $4.49
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Bacon Breakfast
          div.card-light-text Bagel slathered with cream cheese and pieces of bacon in between.
          div.h6.pt-4 $6.49
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Sausage Breakfast
          div.card-light-text Pork sausage crowned with creamy cheese, fluffy egg, and tomatoes.
          div.h6.pt-4 $6.49
    h2.display-6.pt-5 Coffee 
    div.row.pt-4
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Expresso Macchiato
          div.card-light-text Double espresso topped with a dollop of heated, foamed milk.
          div.h6.pt-4 $3.95
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Americano
          div.card-light-text Two espresso shots diluted with hot water.
          div.h6.pt-4 $3.75
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Vanilla Latte
          div.card-light-text Full-bodied espresso with steamed milk and vanilla syrup.
          div.h6.pt-4 $5.25
      div.col-lg-6.mb-3
        div.card-light.p-3.pb-2
          div.h5 Cardamom Rose Latte
          div.card-light-text Spiced cardamom paired with rose petals.
          div.h6.pt-4 $5.75

  div.overflow-hidden.modal
    div.modal-content
      span.close &times;
      div.h5.modal-heading 
      div.pt-3.pb-4.modal-desc 
      div.d-flex.justify-content-between.align-items-center
        div.h6 Qty 
          i.fas.fa-minus-circle
          span.mx-2.quantity 1
          i.fas.fa-plus-circle
        div.h6.modal-price 
      button.mt-3.py-1.rounded-1.add-cart Add to Cart
      

