extends layout

block layout-content
  div.container-md.mb-5
    h2.display-6.pt-5 Donuts 
    div.row.pt-4
      div.col-lg-6
        div.card-light.p-3.my-1.my-lg-0
          div.h5 Strawberry Shortcake
          div.card-light-text Rolled in cinnamon sugar, cut in half, and filled with fresh strawberries and whipped cream.
          div.h6.pt-4 $4.35
      div.col-lg-6
        div.card-light.p-3.my-1.my-lg-0
          div.h5 Lemon Lavender
          div.card-light-text Made with a lavender infused sugar and lemon zest.
          div.h6.pt-4 $4.35
    h2.display-6.pt-5 Bagels 
    div.row.pt-4
      div.col-lg-6
        div.card-light.p-3.my-1.my-lg-0
          div.h5 Smoked Salmon with Cream Cheese
          div.card-light-text Cream cheese and smoked salmon bagel with fresh flavors of lemon and dill.
          div.h6.pt-4 $8.99
      div.col-lg-6
        div.card-light.p-3.my-1.my-lg-0
          div.h5 Open-face Swiss Bagel
          div.card-light-text Topped with swiss cheese, avocado, and bacon.
          div.h6.pt-4 $4.49
    h2.display-6.pt-5 Coffee 
    div.row.pt-4
      div.col-lg-6
        div.card-light.p-3.my-1.my-lg-0
          div.h5 Expresso Macchiato
          div.card-light-text Double espresso topped with a dollop of heated, foamed milk.
          div.h6.pt-4 $3.95
      div.col-lg-6
        div.card-light.p-3.my-1.my-lg-0
          div.h5 Americano
          div.card-light-text Two espresso shots diluted with hot water.
          div.h6.pt-4 $3.75